.row {
    margin-bottom: 0px;
}

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.shadow-light {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

#shot {
    margin-bottom: 75px;
}

.login-back{
    background-color: #353839; 
}

.login-text {
    color: #F5F5F5;
}

.login-form {
    background-color: #3b444b;
    padding: 0px 24px 10px 24px;
}

.no-mar {
    margin-bottom: 0 ;
}