/*---------general ----------*/
.row {
    margin-bottom: 0px;
}

hr.red-line {
    width: 70%;
    height: 1px;
    border-width: 0;
    width: 70%;
    background-color: crimson;
    color: crimson;
}

.margin-top {
    margin-top: 40px;
}

.margintop-100 {
    margin-top: 100px;
}

.margintop-50 {
    margin-top: 50px;
}

.margintop-20 {
    margin-top: 20px;
}

.no-mar {
    margin-bottom: 0 ;
}

.no-padRight {
    padding-right: 0 !important;
}

.no-padLeft {
    padding-left: 0 !important;
}

.left-pad {
    padding: 0px 0px 0px 10px !important;
}

.right-pad {
    padding: 0px 10px 0px 0px !important;
}

.username {
    font-size: 36px;
}

.card-250 {
    height: 110px;
}

.btn-small {
    margin: 5px;
}

/*-----container boxes----------*/

.card-panel {
  margin-top: 20px;  
}

.top-box {
    background-color: #3b444b; 
    margin-bottom: 15px;
}

.findDep-box {
    background-color: #0e1111; 
    margin-bottom: 15px;
}

.long-boxl {
    color: crimson;
    margin-top: 80px;
}

.long-box {
    color: crimson;
    margin-top: 50px;
}

.long-boxl p {
    font-weight: 700;
}

.long-box p {
    font-weight: 700;
}

.login-box {
    background-color: #3b444b;
    margin-bottom: 15px;
    margin-top: 40px;
    color: #F5F5F5; 
    padding: 14px 10px 10px 10px;   
}

/*---------image panels----------*/

.panel-leftImg {
    height: 300px;
    width: 10px;
    margin-top: 30px;
    margin-left: 20px;
    background-color: #F5F5F5;
}

.panel-rightImg {
    height: 300px;
    width: 10px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #F5F5F5;
}

.panel-left {
    height: 300px;
    width: 50px;
    margin-top: 30px;
    background-image: url("./images/door66l.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel-right {
    height: 300px;
    width: 50px;
    margin-top: 30px;
    background-image: url("./images/door66.png");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel-leftMes {
    height: 400px;
    width: 50px;
    margin-top: 30px;
    background-image: url("./images/door66l.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.panel-rightMes {
    height: 400px;
    width: 50px;
    margin-top: 30px;
    background-image: url("./images/door66.png");
    background-size: contain;
    background-position: right top;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.smallPanel-l {
    background-image: url("./images/door66l.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    height: 120px;
}

.smallPanel-r {
    background-image: url("./images/door66.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

/*---------colours----------*/

.shadow-light {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.shadow-light1 {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.link-color {
    color: rgb(143, 212, 241);
}

.antiquewhite {
    color: antiquewhite;
}

.blue-sea {
    color: #0087BE;
}

.blueBack-sea {
    background-color: #0087BE;
}

.blue-sky {
    color: #1AA6E4;
}
.aqua {
    background-color: aquamarine;
}

.greentext {
    color: #26a69a;
}

.crimson {
    color: crimson;
}

.crimson-back {
    background-color: crimson;
}

.matt-black {
    background-color: #3b444b;
}

.border-red {
    border-left: 3px solid crimson;
}

.textmatt-black {
    color: #2e5b7e;
}

.white-back {
    background-color: #F5F5F5;
}

.body-back{
    background-color: #353839; 
}

.offwhite {
    color: #F5F5F5;
}

/*---------register/login pages----------*/

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.login-form {
    background-color: #3b444b;
    padding: 0px 24px 10px 24px;
}

.or-login a:hover {
    color: aquamarine;
}

/*---------user base page----------*/

.dep-img {
    width: 250px;
    height: 150px;
}


/*---------------dep page-----------*/

.collapsible-border {
    border-color: #0087BE;
}

.collapsible {
    margin: 0;
}

.collapsible-body .pic img {
    width: 300px;
    height: auto;
}

.dep-title {
    padding: 10px;
}

.find a:hover {
    color: crimson;
}

.message-pic {
    border-top: 2px solid crimson;
    padding-top: 10px;
}

.message-pic img {
    width: 100%;
    height: auto;
}
    
/*----------add message/edit message-------------*/

.select-wrapper input.select-dropdown {
    color: antiquewhite;
    }

.input-field .prefix ~ label {
    color: rgb(143, 212, 241);
    margin-left: 3rem;
}

.input-field>label {
    color: rgb(143, 212, 241);
}

/*---------images page--------------*/

#explain {
    padding: 2px 20px 2px 20px;
}

.pic img {
    width: 100%;
    height: auto;
}

.pic {
    border-top: 2px solid crimson;
    padding-top: 10px;
}

/*-------------media queries---------*/

@media only screen and (max-width: 600px) {  
    .smallPanel-l {
    background-image: url(./images/door66l.png);
    height: 70px;
    }

    .long-boxl p {
    font-weight: 400;
    font-size: 10px !important;
    }

    .long-box p {
    font-weight: 400;
    font-size: 10px !important;
    }
}

@media only screen and (max-width: 800px) {
    .username {
        font-size: 16px;
    }

    .panel-left {
    height: 300px;   
    background-position: right top;
    width: 100%;
    }

    .panel-right {
    height: 300px;
    background-position: left top;
    width: 100%;
    }

    .panel-leftAdd {
    height: 300px;   
    background-position: right top;
    width: 100%;
    }

    .panel-rightAdd {
    height: 300px;   
    background-position: left top;
    width: 100%;
    }

}

/*-------------department images-----------*/

@media only screen and (max-width: 1500px) {
    .dep-img {
    width: 200px;
    height: 150px;
    }
}

@media only screen and (max-width: 1200px) {
    .dep-img {
    width: 150px;
    height: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .dep-img {
    width: 100px;
    height: 75px;
    }
}

@media only screen and (max-width: 600px) {
    .dep-img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    }
}







