/*---------general ----------*/
.row {
    margin-bottom: 0px;
}

.panel-left {
    height: 500px;
    width: 10px;
    margin-top: 150px;
    background-color: #F5F5F5;
}

.panel-right {
    height: 500px;
    width: 10px;
    margin-top: 150px;
    background-color: #F5F5F5;
}

.pic img {
    width: 100%;
    height: auto;
}

.collapsible-body .pic img {
    width: 300px;
    height: auto;
}

.no-mar {
    margin-bottom: 0 ;
}

.card-250 {
    height: 110px;
}

.dep-title {
    padding: 10px;
}

.btn-small {
    margin: 5px;
}

/*---------colours----------*/
.shadow-light {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
.aqua {
    background-color: aquamarine;
}

.crimson {
    color: crimson;
}

.crimson-back {
    background-color: crimson;
}

.matt-black {
    background-color: #3b444b;
}

.body-back{
    background-color: #353839; 
}

.offwhite {
    color: #F5F5F5;
}

/*---------register/login pages----------*/

.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.top-box {
    background-color: #3b444b;
    color: #F5F5F5;
    margin-bottom: 15px;
}

.login-form {
    background-color: #3b444b;
    padding: 0px 24px 10px 24px;
}

.or-login a:hover {
    color: aquamarine;
}


.collapsible-border {
    border-color: crimson;
}

.collection .collection-item {
    background-color: #11293b;
}

.collection .collection-item .col-two {
    background-color: #3b444b;
}

/*---------------messages-----------*/

.confirm-delete {
    display: none;
}

/*---------images page--------------*/

#explain {
    padding: 2px 20px 2px 20px;
}

/*-------------media queries---------*/
@media only screen and (max-width: 420px) {
    .box {
        float: left !important;
    }
}
