{% extends "base.html" %}
{% block content %}

    <!--top-box-->
    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <div class="login-box">
                <div class="row">
                    <div class="col s1 left-pad">
                        <div class="smallPanel-l"></div>
                    </div>
                    <div class="col s11">
                <p class="username shadow-light center-align"><strong>Add New Image</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s2 m1">
            <div class="panel-left"></div>
        </div>

        <div class="col s8 m10">

            <div class="row card-panel matt-black offwhite">
                <form class="col s10 m8" method="POST" action="{{ url_for('add_message') }}">
                    <!--select department-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-star prefix blue-text text-darken-4"></i>
                            <select id="department_name" name="department_name" class="validate" required>
                                <option value="" disabled selected>Select Department</option>
                                {% for dep in depts %}
                                    <option value="{{ dep.dept_name }}">{{ dep.dept_name }}</option>
                                {% endfor %}
                            </select>
                            <label for="department_name">Department</label>
                        </div>
                    </div>
                    <!--enter subject-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-star prefix blue-text text-darken-4"></i>
                            <input id="subject" name="subject" minlength="1" maxlength="20"
                                type="text" class="validate" required>
                            <label for="subject">Subject</label>
                        </div>
                    </div>
                    <!--enter message-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-star prefix blue-text text-darken-4"></i>
                            <textarea id="message" name="message" minlength="5"
                                maxlength="300" class="materialize-textarea validate" required></textarea>
                            <label for="message">Message</label>
                        </div>
                    </div>
                    <!--enter image src-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-star prefix blue-text text-darken-4"></i>
                            <input id="image_src" name="image_src" minlength="20" maxlength="30"
                                type="text" class="validate">
                            <label for="image_src">Image SRC</label>
                        </div>
                    </div>
                    <!--enter image description-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-star prefix blue-text text-darken-4"></i>
                            <input id="image_des" name="image_des" minlength="1" maxlength="30"
                                type="text" class="validate">
                            <label for="image_des">Image Reference</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <div class="switch">
                                <i class="fas fa-exclamation-triangle prefix light-blue-text text-darken-4"></i>
                                <label for="is_priority">
                                    <input type="checkbox" id="is_priority" name="is_priority">
                                    <span class="lever"></span>
                                    Is Priority
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="center-align">
                            <button type="submit" class="btn-small body-back text-shadow">
                                Add Message <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="col s2 m1">
            <div class="panel-right"></div>
        </div>

    </div>

{% endblock %}