{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card-panel matt-black">
            <h3 class="center-align offwhite">{{ dep }}</h3>
            <form class="" method="POST" action="{{ url_for('get_dep', dep=dep) }}">
                <div class="input-field">
                    <i class="fas fa-fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="date" name="date" type="text" class="datepicker validate offwhite" required>
                    <label for="date">Pick Date</label>
                    <button type="submit" class="btn-small light-blue darken-4 text-shadow">
                        Find Messages
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--add-->

        <button class="center-align btn-small light-blue darken-4 text-shadow">
            Add Message
        </button>



<h5 class="center-align offwhite">{{ day }}</h5>
<ul class="collapsible collapsible-border">
    {% for dept in depart %}
    {% if dept.date == date %}
    <li>
        <div class="collapsible-header matt-black offwhite">
            <i class="fas fa-caret-down"></i>
            <strong>from ----- {{ dept.poster }}</strong> ----- {{ dept.job_title }} ----- SUBJECT - {{ dept.subject }}
            ------- {% if dept.is_priority == "on" %}
            <i class="fas fa-exclamation-circle aqua tooltipped" data-position="right" data-tooltip="PRIORITY!"></i>
            {% endif %}
        </div>
        <div class="collapsible-body matt-black offwhite">
            <p>{{ dept.message }}</p>
            <div class="pic">
                <img src=" {{ dept.image_src }} " alt="image">
                <p> {{ dept.image_des }} </p>
            </div>
            {{ dept.date }}
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock %}