{% extends "base.html" %}
{% block content %}

    <ul class="collapsible collapsible-border">
        {% for cam in camera %}
                <li>
                <div class="collapsible-header matt-black offwhite">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ cam.poster }}</strong> - {{ cam.job_title }}  {{ cam.subject }} 
                    {% if cam.is_priority == "on" %}
                            <i class="fas fa-exclamation-circle aqua tooltipped"
                                data-position="right" data-tooltip="PRIORITY!"></i>
                        {% endif %}
                    
                    {{ cam.is_priority }}
                </div>
                <div class="collapsible-body matt-black offwhite">
                    <p>{{ cam.message }}</p>
                    {{ cam.date }}
                </div>
                </li>
        {% endfor %}
    </ul>
    
{% endblock %}