{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s6 offset-s3 m4 offset-m4">
            <div class="login-box">
                <div class="row">
                    <div class="col s1 left-pad">
                        <div class="smallPanel-l"></div>
                    </div>
                    <div class="col s11">
                <p class="username shadow-light center-align"><strong>Departments</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s1">
            <div class="panel-left"></div>
        </div>

        <div class="col s10">

     <div class="row margintop-50">
        <div class="col s12 m6 offset-m3"> 
            <div class="row">
            {% for dept in depts %}
            <div class="col s4 center-align">
                <div>
                    <a href="{{ url_for('get_dep', dep=dept.dept_name) }}">
                    <img class="dep-img" src="{{ dept.dept_url }}" alt="{{ dept.dept_name }}">                    
                        <p class="center-align offwhite">{{ dept.dept_name }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
            </div>
        </div>
    </div>

    </div>

        <div class="col s1">
            <div class="panel-right"></div>
        </div>

</div>
    
{% endblock %}