{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card-panel matt-black">
                <h3 class="center-align matt-black offwhite">
                    {{ username }}'s Base
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3 offset-m1">
            <a href="{{ url_for('get_depts') }}"> 
                <div class="card-panel matt-black">
                    <h5 class="center-align matt-black offwhite">
                    Read Messages
                    </h5>
                </div>
            </a>
        </div>
        <div class="col s12 m3 offset-m1">
            <a href="{{ url_for('add_message') }}"> 
                <div class="card-panel matt-black">
                    <h5 class="center-align matt-black offwhite">
                    Add Message
                    </h5>
                </div>
            </a>
        </div>
        <div class="col s12 m3 offset-m1">
            <a href="{{ url_for('get_image') }}"> 
                <div class="card-panel matt-black">
                    <h5 class="center-align matt-black offwhite">
                    Get Image
                    </h5>
                </div>
            </a>
        </div>
    </div>

{% endblock %}