{% extends "base.html" %}
{% block content %}

    <!--user name-->
    
    <div class="row">
        <div class="col s4 offset-s4">
            <div class="login-box">
                <div class="row">
                    <div class="col s1 no-padding">
                        <div class="smallPanel-l"></div>
                    </div>
                    <div class="col s11">
                <p class="username shadow-light center-align"><strong> {{ username }}'s Base</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col s2 m1">
            <div class="panel-left"></div>
    </div>

        <div class="col s8 m10">

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <a href="{{ url_for('get_depts') }}"> 
                <h5 class="center-align shadow-light">
                Department Messages
                </h5>
            </a>
        </div>
    </div>

    <div class="row margintop-50">
        <div class="col s12 m6 offset-m3"> 
            <div class="row">
            {% for dept in depts %}
            <div class="col s6 m4">
                <div class="dep-box matt-black">
                    <a href="{{ url_for('get_dep', dep=dept.dept_name) }}">
                        <p class="center-align offwhite">{{ dept.dept_name }}</p>
                        <div class="secondary-content">
                            <i class="fas fa-angle-right offwhite"></i></div>
                    </a>
                </div>
            </div>
        {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6">
            <a href="{{ url_for('add_message') }}"> 
                    <h5 class="center-align">
                    Add Message
                    </h5>
            </a>
        </div>
        <div class="col s6">
            <a href="{{ url_for('get_image') }}"> 
                    <h5 class="center-align">
                    Search Images
                    </h5>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col s6 m6">
            <div class="top-box">
                <h5 class="center-align">
                    {% for draft in script %}
                        <a href="{{ draft.script}}">
                            Download Latest Script</a>
                    {% endfor %}  
                </h5>
            </div>
        </div>
        <div class="col s6">
            <div class="top-box">
                <h5 class="center-align shadow-light crimson">
                    {% for shot in shotlist %}
                        <a href="{{ shot.shotlist}}">
                            Download Latest Shotlist</a>
                    {% endfor %}  
                </h5>
            </div>
        </div>
    </div>

    {% if session.user|lower == "admin"|lower %}
        <div class="row">
            <div class="col s4">
                    {% for draft in script %}
                        <a href="{{ url_for('add_script', script_id=draft._id) }}"> 
                            <div class="top-box">
                                <h5 class="center-align">
                                Upload New Script
                                </h5>
                            </div>
                        </a>
                    {% endfor %} 
            </div>

            <div class="col s4">
                    <a href="{{ url_for('add_shot') }}"> 
                        <div class="top-box">
                            <h5 class="center-align">
                            Upload New Shotlist
                            </h5>
                        </div>
                    </a>
            </div>
            <div class="col s4">
                    <a href="{{ url_for('get_image') }}"> 
                        <div class="top-box">
                            <h5 class="center-align">
                            Upload New Images
                            </h5>
                        </div>
                    </a>
            </div>

        </div>
    {% endif %} 

    </div>

        <div class="col s2 m1">
            <div class="panel-right"></div>
        </div>

    </div>

{% endblock %}
